// @font-face {
@font-face {
  font-family: 'Cambon Demi';
  src: url('../assets/Cambon-Demi.woff2') format('woff2'),
    url('../assets/Cambon-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lausanne';
  src: url('../assets/Lausanne-300.woff2') format('woff2'),
    url('../assets/Lausanne-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lausanne';
  src: url('../assets/Lausanne-300Italic.woff2') format('woff2'),
    url('../assets/Lausanne-300Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Messina Sans Mono';
  src: url('../assets/MessinaSansMonoWeb-Regular.woff2') format('woff2'),
    url('../assets/MessinaSansMonoWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
