---
layout: base.liquid
---
<div class="modal abs fill oy z2 wco" data-router-view="modal">
  <a class="db fix fill bg-blue pt75 ph80" href="/"></a>
  <div class="modal__inner bg-tan wct js-inner">
    <a class="modal__close db abs top right pv35 ph45 df aic" href="/">
      <p class="mono f18 lh155">Close</p>
      <span class="modal__x"></span>
    </a>
    <div class="ph140 pt105">
      {{ content }}
    </div>
  </div>
</div>