---
layout: base.liquid
---
<div class="modal abs fill oy z2" data-router-view="modal">
  <div class="fix fill bg-blue"></div>
  <div class="pt75 ph80 rel z1 min-vh100">
    <div class="modal__inner bg-tan rel min-vh100 js-inner">
      <a class="modal__close db abs top right pv35 ph45 df aic" href="/">
        <p class="mono f18 lh155">Close</p>
        <span class="modal__x"></span>
      </a>
      <div class="ph140 pt105">
        {{ content }}
      </div>
    </div>
  </div>
</div>