.about-carousel {
  &__button {
    position: relative;
    transition: opacity 0.3s $ease-out-quart;

    &:focus {
      outline: 5px auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }

    > span {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: 1rem;
      background-color: $gold;
      transform-origin: left;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__content {
    position: absolute;
  }
}
