.footer {
  &__logo {
    width: 7.7rem;

    @media (query('m')) {
      width: 10rem;
    }

    @media (query('l')) {
      width: 12rem;
    }
  }

  &__content {
    a {
      transition: 0.3s $ease-out-quart;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__funded-by {
    a {
      text-decoration: underline;
    }
  }

  &__mit {
    width: 5.8rem;

    @media (query('m')) {
      width: 7rem;
    }

    @media (query('l')) {
      width: 8rem;
    }
  }
}
