.project-slider {
  &.is-draggable {
    cursor: grab;
    cursor: -webkit-grab;
  }

  &.is-dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  &__item {
    width: 47%;

    @media (query('l')) {
      width: 30%;
    }

    &__inner {
      cursor: pointer;
      transition: opacity 0.4s $ease-out-quart;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
