.rich-text {
  p + p {
    margin-top: 1.2em;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-color: $gold;

    &:hover {
      text-decoration: none;
      color: $gold;
    }
  }
}
