.texture {
  &--1 {
    transform: translateX(38%);

    @media (query('s')) {
      transform: translateX(60%);
    }
  }

  &--2 {
    transform: translateX(55%) rotate(180deg);
    width: 82%;

    @media (query('m')) {
      transform: translateX(100%) rotate(180deg);
      width: 60%;
    }

    @media (query('l')) {
      transform: translateX(35%) rotate(180deg);
      width: 45%;
    }
  }

  &--3 {
    transform: translateX(-35%);
  }
}
