<section id="about" class="pt25 m:pt75 ph20 m:ph40 l:ph80 pb20 m:pb110 mb60 s:mb80 c-tan bg-blue">
  {% include section-title, title: "About", cx: "mb40" %}
  {% include about-carousel,
    items: about.carouselItems,
    autoplayDuration: about.carouselSettings.autoplayDuration
  %}
</section>