<section id="intro" class="rel ph20 m:ph40 l:ph80 pt90 s:pt150 m:pt200 pb20 m:pb200">
  <div class="rel z1 mb40 m:mb0">
    <h1 class="serif f32 s:f52 l:f72 lh1156 s:lh1138 mb20 s:mb45 max-w700 l:max-w920">{{ intro.headline }}</h1>
    <div class="sans f16 s:f20 l:f24 lh150 ls01em s:ls02em max-w600 l:max-w850">{{ intro.body }}</div>
  </div>
  <div class="texture--1 m:abs right bottom w80 s:w70">
    {% include texture %}
  </div>
</section>