<section id="news" class="oh pt25 mb80">
  {% comment %} <div class="pl20 m:pl40 l:pl80 pb20 s:pb30 m:pb50">
    {% include section-title, title: "News & Announcements" %}
  </div> {% endcomment %}
  <div data-component="newsCarousel">
    <div class="news-carousel rel js-slider">
      <div class="df mhn5">

        <div class="news-carousel__slide ph5">
          <div class="c-tan bg-teal br10 pt30 pb40 ph30">
            <p class="mono f16 lh100 mb15">March 13, 2021</p>
            <h3 class="serif f18 lh120 mb40">DH Lab Spring Project: Emerging Technologies for Language Learning</h3>
            <a href="#0" class="mono f16 lh100">Read more +</a>
          </div>
        </div>

        <div class="news-carousel__slide ph5">
          <div class="c-tan bg-teal br10 pt30 pb40 ph30">
            <p class="mono f16 lh100 mb15">March 13, 2021</p>
            <h3 class="serif f18 lh120 mb40">DH Lab Spring Project: Emerging Technologies for Language Learning</h3>
            <a href="#0" class="mono f16 lh100">Read more +</a>
          </div>
        </div>

        <div class="news-carousel__slide ph5">
          <div class="c-tan bg-teal br10 pt30 pb40 ph30">
            <p class="mono f16 lh100 mb15">March 13, 2021</p>
            <h3 class="serif f18 lh120 mb40">DH Lab Spring Project: Emerging Technologies for Language Learning</h3>
            <a href="#0" class="mono f16 lh100">Read more +</a>
          </div>
        </div>

      </div>
    </div>
    <div class="df jcc aic mt20">
      <div class="news-carousel__dot ba br50 mh5 bg-gold js-dots"></div>
      <div class="news-carousel__dot ba br50 mh5 js-dots"></div>
      <div class="news-carousel__dot ba br50 mh5 js-dots"></div>
    </div>
  </div>
</section>