<section id="projects" class="pt25 mb80">
  <div class="pl20 m:pl40 l:pl80 pb20 s:pb30 m:pb50">
    {% include section-title, title: "Featured Projects" %}
  </div>
  {% include project-slider %}
  <div class="ph20">
    <a
      class="button db mono f16 m:f18 lh111 pv20 ph35 ba br3 mt20 tc"
      href="/projects"
    >
      View more →
    </a>
  </div>
</section>