<section id="projects" class="pt25 mb30 s:mb60 m:mb80">
  <div class="pl20 m:pl40 l:pl80 pb20 s:pb30 m:pb50">
    {% include section-title, title: "Projects" %}
  </div>
  {% include project-slider %}
</section>