<button class="burger df aic" aria-label="Open Navigation" data-component="burger">
  <span class="burger__label mono tan f14 mr10" aria-hidden="true">Close</span>
  <span class="burger__icon df fc jcb ba br3">
    <span class="rel"></span>
    <span class="rel"></span>
    <span class="rel"></span>
  </span>
</button>