<header class="header fix top fill-x bb z1">
  <div class="header__inner f aic jcb ph10 xs:ph20 pv15">
    <a class="header__logo db" href="#content">
      {% include logo-blue %}
    </a>
    <div class="f aic">
      <div class="f aic m:dn pr10 xs:pr15 z2">
        {% include burger %}
      </div>
      <div class="z1">
        {% include mobile-nav %}
      </div>
      <div class="dn m:db">
        {% include nav %}
      </div>
      <div class="pv10 pl10 xs:pl15 m:pl20 bl">
        <a
          class="header__mit db"
          href="https://mit.edu"
          target="_blank"
          rel="noopener noreferrer"
        >
          {% include mit-logo %}
        </a>
      </div>
    </div>
  </div>
</header>