<div class="mobile-nav fix fill bg-blue">
  <nav class="ph25 pt80 rel z1">
    <ul class="mobile-nav__items">
      <li class="mobile-nav__item mb25">
        <a class="c-tan f38 lh100 ls02em" href="/projects">Projects</a>
      </li>
      <li class="mobile-nav__item mb25">
        <a class="c-tan f38 lh100 ls02em" href="/people">People</a>
      </li>
      <li class="mobile-nav__item mb25">
        <a class="c-tan f38 lh100 ls02em" href="/events">Events</a>
      </li>
      <li class="mobile-nav__item mb25">
        <a class="c-tan f38 lh100 ls02em" href="/news" >News</a>
      </li>
    </ul>
  </nav>
  <div class="abs bottom fill-x">
    <svg class="db" viewBox="0 0 375 263">
      <path d="M286.512 69.603C286.512 108.044 255.619 139.206 217.51 139.206C179.401 139.206 148.508 108.044 148.508 69.603C148.508 31.1623 179.401 0 217.51 0C255.619 0 286.512 31.1623 286.512 69.603Z" fill="#BC8540"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 131.699C9.37108 136.5 19.9747 139.206 31.205 139.206C69.3137 139.206 100.207 108.044 100.207 69.603C100.207 31.1623 69.3137 0 31.205 0C19.9747 0 9.37108 2.70621 0 7.50739V131.699Z" fill="#528486"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 263H91.089C96.8899 252.807 100.207 240.993 100.207 228.397C100.207 189.956 69.3137 158.794 31.205 158.794C19.9747 158.794 9.37108 161.5 0 166.301V263Z" fill="#BC8540"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M277.045 263C282.846 252.807 286.163 240.993 286.163 228.397C286.163 189.956 255.27 158.794 217.161 158.794C179.053 158.794 148.16 189.956 148.16 228.397C148.16 240.993 151.477 252.807 157.278 263H277.045Z" fill="#528486"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M375 158.823V263H317.114C311.313 252.807 307.996 240.993 307.996 228.397C307.996 190.631 337.815 159.889 375 158.823Z" fill="#BC8540"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M375 0.0107422V139.196C337.452 138.542 307.213 107.635 307.213 69.6031C307.213 31.5718 337.452 0.664572 375 0.0107422Z" fill="#528486"/>
    </svg>
  </div>
</div>