<nav class="nav df" data-component="nav">
  <a href="/projects/" class="nav__link dib sans f16 l:f18 pv5 mr50 js-links">
    <span class="rel z1">Projects</span>
  </a>
  <a href="/people/" class="nav__link dib sans f16 l:f18 pv5 mr50 js-links">
    <span class="rel z1">People</span>
  </a>
  <a href="/events/" class="nav__link dib sans f16 l:f18 pv5 mr50 js-links">
    <span class="rel z1">Events</span>
  </a>
  <a href="/news/" class="nav__link dib sans f16 l:f18 pv5 mr50 js-links">
    <span class="rel z1">News</span>
  </a>
  <a href="/apply/" class="nav__link dib sans f16 l:f18 pv5 mr50 js-links">
    <span class="rel z1">Apply</span>
  </a>
</nav>
