<div class="newsletter rel" data-component="newsletter">
  <form class="df br3 ba oh js-form">
    <input
      class="x mono f14 m:f16 l:f18 pv15 pl20"
      type="email"
      name="email"
      placeholder="Email Address"
      required
    />
    <button
      class="bg-blue c-tan mono f14 m:f16 l:f18 lh100 fs0 ph20"
      type="submit"
    >
      Sign up →
    </button>
  </form>
  <p class="newsletter__message dn tc f14 mono lh120 js-message"></p>
</div>