---
layout: base.liquid
title: Page not found
permalink: 404.html
---
<div class="abs fill df jcc aic tc" data-router-view>
  <div>
    <h1 class="serif f36 mb30">Page not found</h1>
    <a class="mono f22 tdu" href="/">Go Home</a>
  </div>
</div>