---
layout: base.liquid
title: Home
---
{% assign intro = landingPage.intro %}
{% assign projects = landingPage.projects %}
{% assign about = landingPage.about %}
{% assign lab = landingPage.lab %}
{% assign people = landingPage.people %}
{% assign events = landingPage.events %}
{% assign community = landingPage.community %}
{% assign footer = landingPage.footer %}
{% assign landingPageHeader = true %}

<div class="landing abs fill oy z1" data-router-view="home">
  <div>
    {% include header %}
    {% include landing-sections/intro %}
    {% include landing-sections/projects %}
    {% include landing-sections/about %}
    {% include landing-sections/lab %}
    {% include landing-sections/news %}
    {% include landing-sections/events %}
    {% include footer %}
  </div>
</div>
