---
layout: base-modal.liquid
permalink: /publications/
---
<h2 class="mono f18 lh155 mb45">Publications</h2>
<ul class="df fw mhn15">
  {% for publication in publications %}
    <li class="f16 l:f18 lh133 ls01em mb25 m:w50 ph15">
      <a href="{{ publication.link }}" target="_blank" rel="noopener noreferrer">
        <h4 class="mb5">{{ publication.title }}</h4>
        <p class="i o80">{{ publication.authors }}</p>
        <p class="i o80">{{ publication.journal }}</p>
      </a>
    </li>
  {% endfor %}
</ul>